/* .main {
  display: flex;
  height: 100vh;
} */

.sidebar-container {
  background: #eff2f5;
  display: flex;
  width: 320px;
  flex-shrink: 0;
  height: 100vh;
  overflow: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: fixed;
  left: 0;
}

.sidebar {
  width: 300px;
  flex-shrink: 0;
  height: 97%;
  overflow: auto;
  border-radius: 10px;
  background: #134ab0;
}

.sidebar .sidebar-header {
  padding: 20px 10px 0 10px;
  display: flex;
  justify-content: center;
}

.sidebar .sidebar-body {
  padding: 20px;
  height: 100%;
}

.sidebar .sidebar-body .sidebar-item {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px 0;

  display: block;
  transition: all 0.15s;
  border-radius: 5px;
  padding: 20px 0;
  /* margin-block: 8px;
  padding-block: 20px; */
  /* background-color: #ffffff1a; */
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px !important;
  padding: 10px 0;
}

/* .sidebar-item:hover {} */

.sidebar-title {
  display: flex;
  font-size: 0.96em;
  justify-content: space-between;
  cursor: pointer;
}
/* .sidebar {
  background: #eff2f5;
  color: #222;
} */

.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
  margin-right: 5px;
}
.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
  margin-right: 20px;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}
.sidebar-content {
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content {
  margin-top: 12px;
  height: auto;
}

.sidebar-item:focus {
  background: #fff;
  color: #222 !important;
  padding: 10px 20px !important;
}
